@import '../abstracts/dir';

.callout-card {
    background: white;
    border: 1px solid $color-border;
    border-radius: 6px;
    box-shadow: 5px 5px 18px $gray-input-bg;
	position: relative;
	display: block;

	&:hover, &:focus { 
		outline: 1px solid $blue;
	}

    a {
		text-decoration: none;

        &:focus,
        &:hover {
            text-decoration: none;
        }
    }

    .featureImg {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    h1 {
        font-size: $font-size-body;
        line-height: 1.65;
        margin-top: 1em;
        padding-bottom: 2em;
        color: $color-heading;
    }
}

.callout-card__link-box {
    display: flex;
    justify-content: space-between;
}