// Reveal
.close-button {
    font-size: 36px;
    line-height: 1;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.is-visible {
    display: block !important;
}

.is-hidden {
    display: none !important;
}

html.is-reveal-open {
    position: fixed;
    width: 100%;
    overflow-y: hidden;
}

html.is-reveal-open.zf-has-scroll {
    overflow-y: scroll;
}

html.is-reveal-open body {
    overflow-y: hidden;
}

.reveal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1005;
    display: none;
    background-color: rgba(10, 10, 10, 0.45);
    overflow-y: auto;
}

[data-open] {
    cursor: pointer;
}

.reveal {

    z-index: 1006;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: none;
    padding: 3rem;
    border: 1px solid #cacaca;
    border-radius: 3px;
    background-color: #fefefe;
    position: relative;
    top: 100px;
    margin-right: auto;
    margin-left: auto;
    overflow-y: auto;
    max-height: 31.25rem
}

[data-whatinput='mouse'] .reveal {
    outline: 0;
}

@media print,
screen and (min-width: 40em) {
    .reveal {
        min-height: 0;
    }
}

.reveal .column {
    min-width: 0;
}

.reveal> :last-child {
    margin-bottom: 0;
}

@media print,
screen and (min-width: 40em) {
    .reveal {
        width: 900px;
        max-width: 62.5rem;
    }
}

.reveal.collapse {
    padding: 0;
}

@media print,
screen and (min-width: 40em) {
    .reveal.tiny {
        width: 30%;
        max-width: 62.5rem;
    }
}

@media print,
screen and (min-width: 40em) {
    .reveal.small {
        width: 50%;
        max-width: 62.5rem;
    }
}

@media print,
screen and (min-width: 40em) {
    .reveal.large {
        width: 90%;
        max-width: 62.5rem;
    }
}

.reveal.full {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: none;
    height: 100%;
    min-height: 100%;
    margin-left: 0;
    border: 0;
    border-radius: 0;
}

@media screen and (max-width: 39.99875em) {
    .reveal {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: none;
        height: 100%;
        min-height: 100%;
        margin-left: 0;
        border: 0;
        border-radius: 0;
    }
}

.reveal.without-overlay {
    position: fixed;
}