@import '../abstracts/dir';

.tab-nav {
    transform: translate(0, -98%);
    text-align: center;
}

.tab-nav__item {
    &.anchor-link {
        border-right: 1px solid $blue;
        border-image: linear-gradient(to top, white 25%, $gray 25%, $gray 75%, white 75%);
        border-image-slice: 1;
        background-color: white;

        &:last-child {
            border-right: none;
        }

        &.selected,
        &:focus,
        &:hover {
            border-right: none;
            border-image: linear-gradient(to top, $blue 25%, $blue 25%, $blue 75%, $blue 75%);
        }

        &.selected {
            a {
                background: $blue;
                color: white;
                text-decoration: none;
            }
        }
    }

    a {
        background: white;
        padding: $spacing-1;
        display: block;
        color: $color-body;
        width: 100%;
        height: 100%;

        &:hover,
        &:focus {
            background: $blue;
            color: white;
            text-decoration: none;
        }
    }
}