/* Color Usage */
/* Style Defaults */
/* Spacing */
/* Breakpoints */
/**
* X Height Offsets
* Used for aligning the top of side by side columns when one colum
* has an image and the other has text/header
*/
/* Easings*/
/**
 * Positions element to account for WordPress admin bar "bump"
 */
/**
 * Use to bump down content that lives under sticky header - perfectly!
 */
.categories [class*='chevron-'] {
  margin-left: 8%; }
  .categories [class*='chevron-']::before {
    border-width: .1rem .1rem 0 0;
    height: .6rem;
    top: .5em;
    width: .6rem; }

.categories .category__menu {
  display: none; }

.categories.open .category__menu {
  display: block; }

.categories.open .chevron-right::before {
  transform: rotate(135deg); }

.categories label {
  display: block;
  line-height: 2;
  margin-top: 8px; }
  .categories label:focus, .categories label:hover {
    color: #0CABF9;
    cursor: pointer; }
  .categories label.selected {
    color: #0CABF9; }

.categories legend {
  color: #000003;
  font-size: 1.25rem;
  line-height: 1.4;
  width: 100%; }
  .categories legend:focus, .categories legend:hover {
    cursor: pointer; }
