@import '../abstracts/dir';

.ctaPreFooter,
.ctaBanner {
    .arrow-link {
        border-bottom: 1px solid white;
        padding-bottom: $spacing-50;
        padding-top: $spacing-50;
        display: block;

        color: white;
        text-decoration: none;

        &:focus,
        &:hover {
            color: $gray-m;
            text-decoration: none;
        }
    }
}