@import '../abstracts/dir';

@media (max-width: $foundation-medium-max) {
	.lcg-tabs {
		display: none;
	}
}

@media (min-width: $foundation-large) {
	.lcg-tabs-panel {
		&:not(.is-active) {
			display: none;
		}
	}

	.lcg-tabs {
		.tabs-title {
			margin-top: 8px;
			font-size: 24px;
			font-family: $font-accent;
			font-weight: bold;
			border-bottom: 5px solid transparent;
			padding-bottom: 16px;

			a {
				text-decoration: none;
				color: black;
			}

			&.is-active {
				border-color: black;
			}
		}
	}
}

.bg-black {
	background: black;
}

.development-panel {
	transform: translate(0, -55px);
	.card-title {
		margin-top: 32px;
	}

	@media screen and (max-width: $foundation-medium-max) {
		transform: translate(0, 0);
	}
}

[id*='low-code-card-'] {
	[class*='heading'] {
		&.card-title {
			color: white;
			font-weight: 400;
			font-size: 2rem;
		}
	}

	.mt1 {
		margin-bottom: 2rem;
	}
}

.tab-nav {
	background: black;
}

.tab-nav__item {
	background-color: inherit !important;
	border-right: 1px solid white;

	&:last-of-type {
		border-right: none;
	}

	&:hover,
	&:focus {
		background: blue;
	}

	a {
		background: inherit;
		color: white;
	}
}

.tab-nav__item.anchor-link:last-child {
	border-right: none !important;
}

ul.development-benefits {
	margin-left: 1rem;
	li {
		list-style: inherit;
	}
}

#manifesto {
	counter-reset: countedCards;

	.principlesCard {
		display: flex;
		position: relative;
	}

	.principlesCard__figure {
		flex: 0 0 100px;
		position: relative;
	}

	.principlesCard__text {
		flex: 0 0 1;
		position: relative;
	}

	.principlesCard::before {
		counter-increment: countedCards;
		content: '0' counter(countedCards);
		display: block;
		position: absolute;
		line-height: 1;
		top: 8px;
		left: 8px;
		font-style: normal;
		font-size: 6em;
		font-family: 'Patron';
		font-weight: bold;
		opacity: 0.15;
	}
}

.magic-quadrant-panel {
	.main-heading {
		margin-bottom: 1rem;

		&:after {
			content: '';
			border-bottom: 0.25rem solid white;
			width: 25%;
			display: block;
		}
	}
}

.valueCard {
	background: rgba(white, 0.5);
	padding: 24px 16px;
	height: 100%;
}
.valueCard__title {
	text-transform: uppercase;
	font-family: $font-accent;
	font-weight: bold;
}

.valueCard__number {
	display: block;
	font-size: 310%;
	font-weight: 400;
}

#news-cards a {
	&.arrow-link {
		color: black;

		&::after {
			color: $blue;
		}
	}
}

.outside-card-icon {
	flex: 0 1 60px;
	margin-right: 1rem;
	text-align: center;
}

.outside-card-text {
	flex: 1;
}

#essentials {
	background-image: linear-gradient(90deg, #2291d2, #3c4bcb);
}
