@import '../abstracts/dir';

/**
* Classes 
*/
.animate {
	transform: translate3d(0, 0, 0);
	perspective: 1000;
	filter: blur(0);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	transform-origin: center left;
}

.animate--shrink {
	animation-duration: 1s;
	animation-name: shrink;
	animation-timing-function: 'linear';
}

.animate--grow {
	animation-duration: 1s;
	animation-timing-function: 'linear';
	animation-name: grow;
}

.headingXL {
	display: inline-block;

	@media (max-width: 1100px) {
		margin-top: -15px;
		font-size: 5.5rem;

		#subheader {
			top: 110px;
		}
	}

	@media (max-width: 840px) {
		font-size: 4.5rem;

		#subheader {
			top: 90px;
		}
	}

	@media (max-width: 700px) {
		font-size: 3.5rem;

		#subheader {
			top: 70px;
		}
	}

	@media (max-width: 600px) {
		font-size: 2.25rem;
	}
}

.hero__title .slick-slide {
	overflow: hidden;
	padding: 20px 0;

	@media (max-width: $foundation-small-max) {
		padding: 8px 0;
	}
}

.hero__title [aria-hidden] {
	transition: 1s;
}

.hero__title-misc {
	@include outline-text(black);
	height: 80px;
	margin: 0 0 0.7rem;
	display: block;
	opacity: 0.2;
	line-height: 0.55;
	transition: all 0.5s linear;
}

/**
* Slider 
*/
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	touch-callout: none;
	user-select: none;
	touch-action: pan-y;
	tap-highlight-color: transparent;
}

.slick-list {
	@media screen and (min-width: $foundation-medium) {
		height: 450px;
	}

	&:focus {
		outline: 0;
	}

	&.dragging {
		cursor: pointer;
		cursor: hand;
	}
}

.slick-track {
	transform: translate3d(0, 0, 0);
	position: relative;
	left: 0;
	top: 0;
	display: block;

	&:before,
	&:after {
		content: '';
		display: table;
	}

	&:after {
		clear: both;
	}

	.slick-loading & {
		visibility: hidden;
	}
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;

	[dir='rtl'] & {
		float: right;
	}

	img {
		display: block;
	}

	&.slick-loading img {
		display: none;
	}

	display: none;

	&.dragging img {
		pointer-events: none;
	}

	.slick-initialized & {
		display: block;
	}

	.slick-loading & {
		visibility: hidden;
	}

	.slick-vertical & {
		display: block;
		height: auto;
		border: 0;
		outline: 0;

		&:focus,
		&:active,
		&::selection {
			outline: 0 !important;
			border: 0 !important;
			box-shadow: none;
		}
	}
}

.slick-arrow.slick-hidden {
	display: none;
}

.slick-current {
	position: relative;
}

.slick-center,
.slick-center + .slick-active + .slick-active {
	.hero__title-misc {
		opacity: 0.5;
	}
}

.slick-center + .slick-active {
	.hero__title-misc {
		opacity: 1;
	}
}

.slick-vertical .slick-slide {
	overflow: visible;
}

#subheader {
	text-align: left;
	right: 0;
	top: 130px;
	line-height: 1.4;
	padding-left: 5px;

	#playButton {
		bottom: -115px;
		left: 50%;
		margin-left: -36px;
	}
}

.video-box {
	height: 520px;
	background-position: left center;
	background-repeat: no-repeat;
	background-color: $black;

	@media (max-width: $foundation-small-max) {
		background-image: none !important;
		height: auto;
		padding-bottom: 2rem;

		.grid-container {
			position: static;
		}

		&::before {
			display: none;
		}
	}
}

header {
	background: black;
}

/**
 * Title:
 *    Animations
 * Description:
 *    List all the animations of the site in one file
 * Sections:
 *    $. Keyframes
 *    $. Classes
 */
@keyframes shrink {
	0% {
		color: $green;
		transform: scale(2);
	}

	100% {
		transform: scale(1);
		color: $gray;
	}
}

@keyframes grow {
	0% {
		transform: scale(1);
		color: $gray;
	}

	100% {
		transform: scale(2);
		color: green;
	}
}
