@import '../abstracts/dir';

#contentGraphic {
    max-width: 250px;
    margin: 0 auto $spacing-1;

    @media screen and (min-width: $foundation-medium) {
        float: right;
        margin: 0 0 $spacing-2 $spacing-1;
    }

    @media screen and (min-width: $foundation-large) {
        max-width: 300px;
    }
}

.landing-page-banner.overlay {
    &::before {
        @include gradient-1;
        opacity: 0.9;
    }
}