$white: #fff;
$off-white: #F0F0EE;
$gray-xl: #e4e4e3;
$gray-l: #cbcccb;
$gray: #888888;
$body: #424242;
$black: #343434;
/* mendix blues */
$blue: #48B0F7;
$blue-xxl:  #D4ECF8;
$blue-xxxl: #f6f9fc;
/* primary colors */
$green: #76ca02;
$green-dark: #4ba303;
$orange: #F99B1D;
$orange-l:  #FFEFD8;
/* secondary colors */
$navy-dark: #3D546A;
$navy: #237eaf;
/* defautls */
$border-color: $gray-xl;
$pink: #F1D6D6;
