//TODO find all these colors in use and remove or combine them
$gray: #979797;
$blue: #0CABF9;
$gray-m: #ccc;
$charcoal: #181819;
$black: #000003;
$gray:#e6e7e9; // #DDE1E3;
$gray-l:#f5f5f5;
$gray-2:#333333;
$white: #fff;
$off-white: #F0F0EE;
$body: #383841;
$blue-dark: #0D2DD1;
$blue-l: #62b1d6;
$blue-xl: #94c6e0;
$blue-xxl: #d9eaf8;
$blue-xxxl: #E7EDF3;
$aqua: #05b7d7;
$aqua-l: #bfeffc;
$green: #8AC63D;
$purple: #5C4F77;
$red: #f9352f;
$red-l: #FF6161;
$red-xl: mix(white, $red, 10%);
$yellow: #FFE82A;
