/* Color Usage */
/* Style Defaults */
/* Spacing */
/* Breakpoints */
/**
* X Height Offsets
* Used for aligning the top of side by side columns when one colum
* has an image and the other has text/header
*/
/* Easings*/
/**
 * Positions element to account for WordPress admin bar "bump"
 */
/**
 * Use to bump down content that lives under sticky header - perfectly!
 */
#importance {
  background: #0CABF9; }

.attribution {
  text-indent: -12px;
  padding-left: 12px;
  font-size: 1rem;
  font-family: "Patron", "Open Sans", Helvetica, Arial, sans-serif; }

.steps {
  color: #0CABF9 !important;
  text-transform: uppercase;
  letter-spacing: 1px; }

.tabs-panel:not(.is-active) {
  display: none; }

.tabs-title__heading {
  display: inline-block;
  border-bottom: 4px solid transparent; }

.tabs-title.is-active .tabs-title__heading {
  border-bottom-color: #000003; }

.tabs-title__a:hover, .tabs-title__a:focus {
  text-decoration: none; }
  .tabs-title__a:hover .tabs-title__heading, .tabs-title__a:focus .tabs-title__heading {
    color: #0CABF9; }
