/* Color Usage */
/* Style Defaults */
/* Spacing */
/* Breakpoints */
/**
* X Height Offsets
* Used for aligning the top of side by side columns when one colum
* has an image and the other has text/header
*/
/* Easings*/
/**
 * Positions element to account for WordPress admin bar "bump"
 */
/**
 * Use to bump down content that lives under sticky header - perfectly!
 */
@media screen and (min-width: 64em) {
  .blogCarousel {
    overflow: hidden;
    height: 332px; }
  .blogCarousel__item {
    height: 332px; } }
