/* Color Usage */
/* Style Defaults */
/* Spacing */
/* Breakpoints */
/**
* X Height Offsets
* Used for aligning the top of side by side columns when one colum
* has an image and the other has text/header
*/
/* Easings*/
/**
 * Positions element to account for WordPress admin bar "bump"
 */
/**
 * Use to bump down content that lives under sticky header - perfectly!
 */
/**
* Classes 
*/
.animate {
  transform: translate3d(0, 0, 0);
  perspective: 1000;
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transform-origin: center left; }

.animate--shrink {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: shrink;
          animation-name: shrink;
  -webkit-animation-timing-function: 'linear';
          animation-timing-function: 'linear'; }

.animate--grow {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: 'linear';
          animation-timing-function: 'linear';
  -webkit-animation-name: grow;
          animation-name: grow; }

.headingXL {
  display: inline-block; }
  @media (max-width: 1100px) {
    .headingXL {
      margin-top: -15px;
      font-size: 5.5rem; }
      .headingXL #subheader {
        top: 110px; } }
  @media (max-width: 840px) {
    .headingXL {
      font-size: 4.5rem; }
      .headingXL #subheader {
        top: 90px; } }
  @media (max-width: 700px) {
    .headingXL {
      font-size: 3.5rem; }
      .headingXL #subheader {
        top: 70px; } }
  @media (max-width: 600px) {
    .headingXL {
      font-size: 2.25rem; } }

.hero__title .slick-slide {
  overflow: hidden;
  padding: 20px 0; }
  @media (max-width: 39.9375em) {
    .hero__title .slick-slide {
      padding: 8px 0; } }

.hero__title [aria-hidden] {
  transition: 1s; }

.hero__title-misc {
  color: black;
  text-shadow: -2px 0 #000, -1px 0 #000, 0px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
  height: 80px;
  margin: 0 0 0.7rem;
  display: block;
  opacity: 0.2;
  line-height: 0.55;
  transition: all 0.5s linear; }

/**
* Slider 
*/
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  touch-action: pan-y;
  tap-highlight-color: transparent; }

@media screen and (min-width: 40em) {
  .slick-list {
    height: 450px; } }

.slick-list:focus {
  outline: 0; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-track {
  transform: translate3d(0, 0, 0);
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: '';
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir='rtl'] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 0;
    outline: 0; }
    .slick-vertical .slick-slide:focus, .slick-vertical .slick-slide:active, .slick-vertical .slick-slide::-moz-selection {
      outline: 0 !important;
      border: 0 !important;
      box-shadow: none; }
    .slick-vertical .slick-slide:focus, .slick-vertical .slick-slide:active, .slick-vertical .slick-slide::selection {
      outline: 0 !important;
      border: 0 !important;
      box-shadow: none; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-current {
  position: relative; }

.slick-center .hero__title-misc,
.slick-center + .slick-active + .slick-active .hero__title-misc {
  opacity: 0.5; }

.slick-center + .slick-active .hero__title-misc {
  opacity: 1; }

.slick-vertical .slick-slide {
  overflow: visible; }

#subheader {
  text-align: left;
  right: 0;
  top: 130px;
  line-height: 1.4;
  padding-left: 5px; }
  #subheader #playButton {
    bottom: -115px;
    left: 50%;
    margin-left: -36px; }

.video-box {
  height: 520px;
  background-position: left center;
  background-repeat: no-repeat;
  background-color: #000003; }
  @media (max-width: 39.9375em) {
    .video-box {
      background-image: none !important;
      height: auto;
      padding-bottom: 2rem; }
      .video-box .grid-container {
        position: static; }
      .video-box::before {
        display: none; } }

header {
  background: black; }

/**
 * Title:
 *    Animations
 * Description:
 *    List all the animations of the site in one file
 * Sections:
 *    $. Keyframes
 *    $. Classes
 */
@-webkit-keyframes shrink {
  0% {
    color: #8AC63D;
    transform: scale(2); }
  100% {
    transform: scale(1);
    color: #e6e7e9; } }
@keyframes shrink {
  0% {
    color: #8AC63D;
    transform: scale(2); }
  100% {
    transform: scale(1);
    color: #e6e7e9; } }

@-webkit-keyframes grow {
  0% {
    transform: scale(1);
    color: #e6e7e9; }
  100% {
    transform: scale(2);
    color: green; } }

@keyframes grow {
  0% {
    transform: scale(1);
    color: #e6e7e9; }
  100% {
    transform: scale(2);
    color: green; } }
