@charset "UTF-8";
/* Color Usage */
/* Style Defaults */
/* Spacing */
/* Breakpoints */
/**
* X Height Offsets
* Used for aligning the top of side by side columns when one colum
* has an image and the other has text/header
*/
/* Easings*/
/**
 * Positions element to account for WordPress admin bar "bump"
 */
/**
 * Use to bump down content that lives under sticky header - perfectly!
 */
body {
  background: #000003; }

.square {
  padding-bottom: 100%; }

.checkbox {
  display: block; }

[type=checkbox] {
  display: inline-block;
  width: 1rem;
  margin-right: 8px;
  height: 1rem;
  border: 1px solid white; }

.mx-select {
  position: relative;
  margin-top: -4px !important; }
  .mx-select :checked {
    border-color: #000003;
    background: #000003; }
    .mx-select :checked::after {
      content: "✓";
      transform: translate(2px, -18px);
      display: block; }
    .mx-select :checked::before {
      background: white;
      transform: translate(-1px, -2px);
      content: "";
      display: block;
      width: 1rem;
      height: 1rem; }

.mx-select.active .mx-select__matte {
  display: block;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  height: 100vh;
  width: 100vw; }

.mx-select.active .mx-select__label-container {
  height: auto;
  padding-bottom: .5rem; }

.mx-select__label-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: #000003;
  z-index: 99;
  overflow: hidden;
  height: 3rem;
  padding-top: 3rem;
  border: 1px solid white; }

.mx-select__label {
  cursor: pointer;
  display: block;
  padding: 8px 16px; }

.mx-select__legend {
  cursor: pointer;
  position: relative;
  z-index: 100;
  white-space: nowrap;
  overflow: hidden;
  height: 3rem;
  padding: 16px; }

.mx-select__carat {
  float: right; }

.breakout:not(.active) {
  display: none; }

.popup-container [data-src] {
  padding-bottom: 56.25%;
  width: 100%; }

.banner {
  padding-top: 8rem;
  padding-bottom: 16rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 64em) and (min-height: 40rem) {
    .banner {
      padding-top: 15rem;
      padding-bottom: 20rem; } }

#keynotes {
  margin-top: -10rem; }

.svg-link {
  color: white;
  transition: color 250ms; }
  .svg-link g {
    transition: stroke 250ms; }
  .svg-link svg {
    transform: translate(0, 3px); }
  .svg-link:focus, .svg-link:hover {
    color: #F99B1D;
    text-decoration: none; }
    .svg-link:focus g, .svg-link:hover g {
      stroke: #F99B1D; }
