/* Color Usage */
/* Style Defaults */
/* Spacing */
/* Breakpoints */
/**
* X Height Offsets
* Used for aligning the top of side by side columns when one colum
* has an image and the other has text/header
*/
/* Easings*/
/**
 * Positions element to account for WordPress admin bar "bump"
 */
/**
 * Use to bump down content that lives under sticky header - perfectly!
 */
.mxdp-page-template .spacer {
  height: 300px;
  position: relative; }
  .mxdp-page-template .spacer .spacer-line:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    height: 1px;
    width: 395px;
    background: #ffffff; }

.mxdp-page-template .aos-animate {
  overflow: hidden; }

.mxdp-page-template .chained-delay:nth-child(1) {
  transition-delay: 0.25s; }

.mxdp-page-template .chained-delay:nth-child(2) {
  transition-delay: 0.5s; }

.mxdp-page-template .chained-delay:nth-child(3) {
  transition-delay: 0.75s; }

.mxdp-page-template .chained-delay:nth-child(4) {
  transition-delay: 1s; }

.mxdp-page-template .chained-delay:nth-child(5) {
  transition-delay: 1.25s; }

.mxdp-page-template .chained-delay:nth-child(6) {
  transition-delay: 1.5s; }

.mxdp-page-template .chained-delay:nth-child(7) {
  transition-delay: 1.75s; }

.mxdp-page-template .chained-delay:nth-child(8) {
  transition-delay: 2s; }

.mxdp-page-template .chained-delay:nth-child(9) {
  transition-delay: 2.25s; }

.mxdp-page-template .chained-delay:nth-child(10) {
  transition-delay: 2.5s; }

.mxdp-page-template .panel-title {
  color: #ffffff;
  letter-spacing: -0.43px;
  display: inline-block;
  padding: 8px 26px;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 36px; }

.mxdp-page-template .intro {
  background: #000000;
  color: #ffffff; }
  .mxdp-page-template .intro .intro-heading {
    color: #ffffff;
    font-size: 40px; }
    @media (min-width: 40em) {
      .mxdp-page-template .intro .intro-heading {
        font-size: 48px; } }
  .mxdp-page-template .intro .grid-container {
    max-width: 1015px;
    margin: auto; }
  .mxdp-page-template .intro .column-1 {
    padding-top: 2em; }
    @media (min-width: 40em) {
      .mxdp-page-template .intro .column-1 {
        padding-right: 2em;
        padding-top: 0; } }
  .mxdp-page-template .intro .column-2 {
    padding-top: 2em; }
    .mxdp-page-template .intro .column-2 blockquote {
      color: #ffffff;
      font-size: 24px;
      font-weight: bold; }
    @media (min-width: 40em) {
      .mxdp-page-template .intro .column-2 {
        padding-left: 2em;
        padding-top: 0; } }

.mxdp-page-template .callout {
  background-color: #000000;
  color: #ffffff; }
  .mxdp-page-template .callout .callout-heading {
    color: #ffffff;
    line-height: 60px;
    font-size: 40px; }
    @media (min-width: 40em) {
      .mxdp-page-template .callout .callout-heading {
        font-size: 48px; } }
  .mxdp-page-template .callout .grid-container {
    max-width: 1080px;
    margin: auto; }
  @media (min-width: 40em) {
    .mxdp-page-template .callout .column-1 {
      padding-right: 1.5em;
      padding-left: 30px; } }
  @media (min-width: 40em) {
    .mxdp-page-template .callout .column-2 {
      padding-left: 1.25em;
      padding-right: 0.5em; } }

.mxdp-page-template .multi-experience {
  padding-bottom: 10px;
  background-image: linear-gradient(90deg, #2292d2 0%, #3c4acb 100%);
  color: #ffffff; }
  .mxdp-page-template .multi-experience .multi-experience-header {
    font-size: 40px;
    color: #ffffff; }
    @media (min-width: 40em) {
      .mxdp-page-template .multi-experience .multi-experience-header {
        font-size: 48px; } }
  .mxdp-page-template .multi-experience .multi-experience-text {
    font-size: 20px;
    max-width: 800px;
    margin: auto;
    margin-top: 40px; }

.mxdp-page-template .multi-experience-slider {
  margin: auto;
  justify-content: center;
  align-content: center;
  background-repeat: no-repeat;
  background-position: top left; }
  .mxdp-page-template .multi-experience-slider .panel-title {
    margin-bottom: 90px; }
  .mxdp-page-template .multi-experience-slider .example-title {
    font-size: 20px;
    font-weight: bold;
    margin: 35px 0 18px;
    color: #ffffff; }
  .mxdp-page-template .multi-experience-slider .example {
    text-align: left; }
    .mxdp-page-template .multi-experience-slider .example .example-text {
      color: #ffffff;
      padding-right: 30px;
      padding-bottom: 2em; }

.mxdp-page-template #multi-experience-slider {
  max-width: 1015px; }

.mxdp-page-template .development {
  background-repeat: no-repeat;
  background-position: top right; }
  .mxdp-page-template .development .panel-title {
    padding: 0;
    margin-top: 2em; }
  .mxdp-page-template .development .development-text {
    max-width: 810px;
    margin: auto;
    color: #ffffff;
    margin-bottom: 57px; }

.mxdp-page-template .platform {
  background-repeat: no-repeat;
  background-position: top left; }
  .mxdp-page-template .platform .platform-text {
    max-width: 810px;
    margin: auto;
    color: #ffffff;
    margin-bottom: 57px; }

.mxdp-page-template .customer-success {
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover; }
  .mxdp-page-template .customer-success .customer-success-heading {
    color: #ffffff;
    margin-top: 45px;
    font-size: 40px; }
    @media (min-width: 64em) {
      .mxdp-page-template .customer-success .customer-success-heading {
        font-size: 68px; } }
  .mxdp-page-template .customer-success .success-stat-highlight {
    background: #ffffff;
    margin-top: 32px;
    padding: 30px 32px;
    text-align: left; }
    @media (min-width: 64em) {
      .mxdp-page-template .customer-success .success-stat-highlight:first-child {
        margin-top: 0; } }
    .mxdp-page-template .customer-success .success-stat-highlight .cs-stat {
      font-family: "Patron", "Open Sans", Helvetica, Arial, sans-serif;
      color: #082433;
      font-size: 36px;
      overflow: hidden; }
      @media (min-width: 64em) {
        .mxdp-page-template .customer-success .success-stat-highlight .cs-stat {
          font-size: 40px; } }
    .mxdp-page-template .customer-success .success-stat-highlight .cs-stat-label {
      font-family: "Patron", "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 1em;
      color: #082433;
      text-transform: uppercase; }

.mxdp-page-template .featured-outside-content {
  background: #f5f5f5; }
  .mxdp-page-template .featured-outside-content a {
    text-decoration: none; }
    .mxdp-page-template .featured-outside-content a:hover .outside-card-text {
      color: #0595db; }
  .mxdp-page-template .featured-outside-content .featured-outside-content-header {
    margin-bottom: 32px; }
  .mxdp-page-template .featured-outside-content .outside-card {
    box-shadow: none;
    margin-top: 12px; }
    .mxdp-page-template .featured-outside-content .outside-card .outside-card-title {
      text-transform: uppercase;
      font-family: "Patron", "Open Sans", Helvetica, Arial, sans-serif;
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 10px;
      color: #57585b; }
    .mxdp-page-template .featured-outside-content .outside-card .outside-card-icon {
      flex: 0 1 60px;
      margin-right: 2rem;
      text-align: center; }
    .mxdp-page-template .featured-outside-content .outside-card .outside-card-text {
      flex: 1;
      height: 100%;
      font-size: 21px;
      line-height: 27px;
      color: #57585b; }
    .mxdp-page-template .featured-outside-content .outside-card .arrow {
      color: #0595db;
      font-size: 30px; }
