/* Color Usage */
/* Style Defaults */
/* Spacing */
/* Breakpoints */
/**
* X Height Offsets
* Used for aligning the top of side by side columns when one colum
* has an image and the other has text/header
*/
/* Easings*/
/**
 * Positions element to account for WordPress admin bar "bump"
 */
/**
 * Use to bump down content that lives under sticky header - perfectly!
 */
body {
  background-color: #e7eaec; }

.breadcrumbLink {
  position: relative; }
  .breadcrumbLink::before {
    content: '< ';
    position: relative;
    display: inline-block;
    padding-right: 0.5rem;
    transition: transform 300ms ease; }
  .breadcrumbLink:focus, .breadcrumbLink:active, .breadcrumbLink:hover {
    text-decoration: none; }
    .breadcrumbLink:focus::before, .breadcrumbLink:active::before, .breadcrumbLink:hover::before {
      transform: translate(-0.25rem, 0); }

.blog {
  padding-top: 40px;
  margin-bottom: 64px;
  background-color: white; }
  .blog .vidyard-lightbox-thumbnail {
    margin-top: 2rem;
    margin-bottom: 2rem; }

.blog__author {
  padding: 2rem 0; }

.blog__content {
  /* Color Usage */
  /* Style Defaults */
  /* Spacing */
  /* Breakpoints */
  /**
* X Height Offsets
* Used for aligning the top of side by side columns when one colum
* has an image and the other has text/header
*/
  /* Easings*/
  /**
 * Positions element to account for WordPress admin bar "bump"
 */
  /**
 * Use to bump down content that lives under sticky header - perfectly!
 */
  padding-top: 2rem; }
  .blog__content * + * {
    margin-top: 1em; }
  .blog__content .content {
    color: #383841;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 18px; }
  .blog__content h1,
  .blog__content h2 {
    font-family: "Patron", "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #383841;
    font-size: 2em;
    line-height: 1.25;
    margin-top: 4rem;
    padding-bottom: 2rem;
    position: relative; }
    .blog__content h1::after,
    .blog__content h2::after {
      content: "";
      background-color: #000003;
      bottom: 0;
      height: 5px;
      left: 0;
      position: absolute;
      width: 52px; }
    .blog__content h1 + p,
    .blog__content h1 + ul,
    .blog__content h1 + ol,
    .blog__content h2 + p,
    .blog__content h2 + ul,
    .blog__content h2 + ol {
      margin-top: 2rem; }
  .blog__content h3,
  .blog__content h4 {
    color: #383841;
    font-family: "Patron", sans-serif;
    font-weight: bold;
    margin-top: 2rem; }
  .blog__content h3 {
    font-size: 1.3125em; }
  .blog__content h4 {
    font-size: 1em; }
  .blog__content ul,
  .blog__content ol {
    padding-left: 0.5rem; }
  .blog__content ul li {
    margin-left: 1rem; }
    .blog__content ul li::before {
      content: "\2022";
      color: #0CABF9;
      display: inline-block;
      font-weight: bold;
      margin-left: -1rem;
      width: 1rem; }
  .blog__content ol li {
    margin-left: 1rem;
    list-style-type: decimal; }
  .blog__content blockquote {
    color: #0CABF9;
    font-family: "Patron", sans-serif;
    font-size: 2.25em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.25;
    margin: 2rem 1rem 3rem;
    text-align: center; }
  .blog__content .kicker {
    font-family: "Patron", sans-serif;
    font-size: 0.875em;
    letter-spacing: 2;
    margin-top: 3rem;
    text-transform: uppercase; }
    .blog__content .kicker + h1,
    .blog__content .kicker + h2,
    .blog__content .kicker + h3,
    .blog__content .kicker + h4 {
      margin-top: 0.25rem; }

.blog__social {
  padding-top: 2rem; }

.blog__title {
  margin-top: 2rem;
  padding-bottom: 2rem;
  position: relative; }
  .blog__title::after {
    content: '';
    background-color: #000003;
    bottom: 0;
    height: 10px;
    left: 0;
    position: absolute;
    width: 136px; }

.featuredEvent {
  background: white;
  padding: 1rem; }

.subscribe {
  padding: 2rem 1rem; }

.sidebarArticles {
  background-color: white;
  padding: 2rem 1rem 1rem; }

.sidebarArticles__link {
  color: #383841;
  transition: color 200ms; }
  .sidebarArticles__link:hover, .sidebarArticles__link:focus {
    -webkit-text-decoration-color: #0CABF9;
            text-decoration-color: #0CABF9; }

.blogCTA {
  margin-top: 2rem; }

.blog__content,
.blog__social,
.blog__author,
.blog__title,
.blogCTA {
  margin-left: 1rem;
  margin-right: 1rem; }

@media screen and (min-width: 64em) {
  .blog {
    margin-bottom: 96px; }
  .blog__author,
  .blog__content,
  .blog__social,
  .blog__title,
  .blogCTA {
    margin-left: 3rem;
    margin-right: 3rem; }
  .blog__title {
    padding-bottom: 3rem; } }

@media screen and (min-height: 30rem) and (min-width: 64em) {
  .hero--tall {
    height: 44rem;
    position: relative;
    overflow: hidden;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat; }
  .blog__content__thumbnail {
    display: none; }
  .hero--tall-overlap {
    transform: translateY(-24rem);
    margin-bottom: -24rem;
    padding: 0 16px; }
  .blog {
    padding-top: 0; } }
